
ul{
    margin-bottom: 0;
  }
  
.radio-card{
  height: 108px;
  width: 108px;
  border-radius: 8px;
  background-color: #444444;
}
.radio-card>img{
  margin-top: 16px;
  padding: 4px;
  height: 48px;
  filter: grayscale(100);
}
.radio-section{
  margin: 0 1px;
}
.card-body {
  padding: 0px 0;
}
input[type="radio"] {
  display: none;
  &:not(:disabled) ~ .radio-card {
    cursor: pointer;
  }
  &:disabled ~ .radio-card {
    color: hsla(150, 5%, 75%, 1);
    border-color: hsla(150, 5%, 75%, 1);
    box-shadow: none;
    cursor: not-allowed;
  }
}
.radio {
  height: 100%;
  margin: 20px;
}
input[type="radio"]:checked + .radio-card {
  background: #ffc107;
  // color: hsla(215, 0%, 100%, 1);
  box-shadow: 0px 0px 20px #ffc107;
.label{
  color: white;
}
  img{
    filter: grayscale(0);
  }
}
p {
  // nt-weight: 900;
}

.radio-option{
  text-align: center;
  }



  