
<div class="row">
    <!-- PARTS -->
    <div class="card">
        <div class="row">
            
            <div class="column">
                <div style="margin-left: 25px;">
                    <h4 style="color: #09bc8a;">
                        <b>{{parts}}</b>
                    </h4>
                </div>
                <div style="margin-left: 25px;">
                    <p>Total parts</p>
                </div>
            </div>
            <div class="column" style="margin-left:50px; margin-top:40px">
                <div style="background-color: #09bc8a; border-radius: 50%;">
                    <nb-icon icon="cube-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
    <!-- MATERIALS -->
    <div class="card">
        <div class="row">
            <div class="column">
                <div style="margin-left: 25px;">
                    <h4 style="color: #d743eb;">
                        <b>{{materials}}</b>
                    </h4>
                </div>
                <div style="margin-left: 25px;">
                    <p>Total Materials</p>
                </div>
            </div>
            <div class="column" style="margin-left:30px; margin-top:40px">
                <div style="background-color: #b717cc; border-radius: 50%;">
                    <nb-icon icon="copy-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
    <!-- MOULDS -->
    <div class="card">
        <div class="row">
            <div class="column">
                <div style="margin-left: 25px;">
                    <h4 style="color: #aabc09;">
                        <b>{{moulds}}</b>
                    </h4>
                </div>
                <div style="margin-left: 25px;">
                    <p>Total Moulds</p>
                </div>
            </div>
            <div class="column" style="margin-left:30px; margin-top:40px">
                <div style="background-color: #aabc09; border-radius: 50%;">
                    <nb-icon icon="printer-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
    <!-- MACHINES -->
    <div class="card">
        <div class="row">
            <div class="column">
                <div style="margin-left: 25px;">
                    <h4 style="color: #ce6815;">
                        <b>{{machines}}</b>
                    </h4>
                </div>
                <div style="margin-left: 25px;">
                    <p>Total machines</p>
                </div>
            </div>
            <div class="column" style="margin-left:30px; margin-top:40px">
                <div style="background-color: #ce6815; border-radius: 50%;">
                    <nb-icon icon="pantone-outline"></nb-icon>
                </div>
            </div>
        </div>
    </div>
</div>

<div style="margin-top: 20px;">
    <label for="inventoryType" class="label">Application</label>

    <div class="button-section">
        <button class="row button-card" type="button" onclick="window.location.href = 'invoice'">
           <label class="button-title">Invoice</label>
           <p>Line 2</p>
        </button>
        <button class="row button-card" type="button">
            <label>Jobcard</label>
            <p>Line 2</p>
         </button>

    </div>

    <!-- <div class="row radio-section">

        <div class="col radio-option">
            <label>

                <input type="radio">
                <div class="card radio-card" for="control_01">
                    <img class="" src="/assets/app/wip.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title text-center label">WIP</p>
                    </div>
                </div>
            </label>
        </div>
        <div class="col radio-option">
            <label>
                <input type="button" checked>
                <div class="card button-card" for="control_02">
                    <img class="card-img-top" src="/assets/app/fg.svg" alt="Card image cap">
                    <div class="card-body">
                        <p class="card-title text-center label">FG</p>
                    </div>
                </div>
            </label>
        </div>
    </div> -->
</div>

